# Global components configuration
loader:
  class: "CSVLoader"
  module: "loader.csv_loader"
  file_path: "contracts/contract_valid.csv" # Change to contracts/contract_valid.csv if running locally, 
  # otherwise /opt/airflow/data_engine/contracts/contract_valid.csv

inserter:
  class: "TimescaleDBInserter"
  module: "inserter.timescaledb_inserter"

#Changed This
fetcher:
  class: "BatchDownloadDatabentoFetcher"
  module: "fetcher.batch_download_databento_fetcher"

cleaner:
  class: "DatabentoCleaner"
  module: "cleaner.databento_cleaner"

# Data provider configuration
provider:
  name: "databento"
  asset: "FUTURE"                   # FUTURE, EQUITY
  dataset: "GLBX.MDP3"              # XNAS.ITCH for equities, GLBX.MDP3 for futures (TO:DO: Add IFEU.IMPACT)
  schema: "OHLCV_1D"                # Only OHLCV_1D for now (TO:DO: Add OHLCV 1h, 1m and MBO)
  roll_type: "v"                    # Calendar = c, Open Interest = n, Volume = v
  contract_type: "0"                # AKA Rank: 0 = front, 1 = second, 2 = third, etc.

# Database configuration
database:
  target_schema: "futures_data"
  raw_table: "ohlcv_1d_raw"           
  table: "ohlcv_1d"

# Time range for data fetching YYYY-MM-DD (Leave empty to fetch missing data)
#Setting it really small to avoid unnecesary costs
time_range:
  start_date: "2010-06-06"              
  end_date: "2025-03-22"

# Expected data density
expected_rows_per_asset: 30

# Options to handle missing data
missing_data:
  forward_fill: "False"
  backward_fill: "False"            
  interpolate: "False"
  drop_nan: "False"
  zero_fill: "True"
  mean_fill: "False"
  median_fill: "False"
  custom_fill: "False"
  custom_value: "0"

# Logging options
logging:
  level: "INFO"                           

batch_downloading:
  batch: True
  unit: "Daily"
  max_units: 30
